{% ckan_extends %}

{% block featured_group %}
  {{ h.recently_changed_packages_activity_stream(limit=4) }}
{% endblock %}


{% block header_wrapper %}

  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">

        <!-- Be sure to leave the brand out there if you want it shown -->
        {% block header_logo %}
          {% if g.site_logo %}
            <a class="logo brand" href="{{ h.url('home') }}"><img src="{{ g.site_logo }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
          {% else %}
            <a class="brand" href="{{ h.url('home') }}">{{ g.site_title }}</a>
          {% endif %}
        {% endblock %}

</div>
    </div>
  </div>
{% endblock %}
