<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are AQUACROSS Organizations?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
        AQUACROSS Organizations are considered contibutors of the AQUACROSS Information Platform. 
        The list of contributors are used to create, manage and publish groups of datasets. 
        Users can have different roles within an Organization, depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
  </div>
</div>
